

<% if !user_signed_in? %>
  .<div class="jumbotron">
    <h1>Rate your favorite brands!</h1>
    <p>At Rate-a-Brand every one can add their favorite brand and rate it. Each month we will publish three brands with the highest ratings! Sign up today and see how YOUR favorite brand is ranking today</p>
  </div>
<% end %>


<div class="page-header">

    <a href="/brands/new" class="btn btn-md btn-success">Add a Brand</a>

</div>

<div class="row">
  <% @brands.each do |brand| %>
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><%= brand.name %></h3>
        </div>
        <div class="panel-body">
          <img src="<%= brand.image_url %>" width="150">
        </div>
        <div class="panel-footer">
          <div class="row">
            <a href="/brands/<%= brand.id %>" class="btn btn-primary"><i class="fa fa-eye fa-lg" aria-hidden="true"></i></a>
            <a href="/brands/<%= brand.id %>/edit" class="btn btn-warning"><i class="fa fa-plus" aria-hidden="true"></i></a>
          </div>

        </div>
      </div>
    </div>

  </div>
  <% end %>
</div>
